<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/SignUpIn.css">
<button href="#" style="position:absolute; height:60px; width:20px; background-color: linear-gradient(to right, #ff4b2b, #ff416c) no-repeat 0 0 / cover; color: white; font-size:30px; left:0px;top:0px; border-radius: 0px 0px 30px 0px;" class="previous round" onclick="goBack()">&#8249;</button>
<div class="container" id="container" style="top:7px; margin-left: 150px; height:680px">
    <div class="form-container sign-up-container">
        <form action="http://127.0.0.1:8081/passwordChange" method="post">
            <h1>Change password</h1>
			</br>
            <input type="password" name="password" id="password" placeholder="Current Password" required/>
            <input type="newpassword" name="newpassword" id="newpassword" placeholder="New Password" required/>
            <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password" required/>
            <button>Save Password</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="http://127.0.0.1:8081/profileEdit" method="post">
        </br>
            <h1>Edit profile</h1>
			</br>
            <input type="text" name="username" id="username" placeholder="Username" style="background: #eee; border: none; padding: 12px 15px; margin: 8px 0; width: 100%; text-align: left;" value="<%= details[0].UserName %>" readonly>
            <input type="text" name="firstname" id="firstname" placeholder="First Name" value="<%= details[0].FirstName %>" required/>
            <input type="text" name="lastname" id="lastname" placeholder="Last Name" value="<%= details[0].LastName %>" required/>
            <input type="number" name="phonenumber" id="phonenumber" placeholder="Phone Number" value="<%= details[0].Phone %>" required/>
            <textarea type="text" name="address" id="address" placeholder="Address" style="background: #eee;border: none;padding: 12px 15px;margin: 8px 0;width: 100%;height:100px;" required><%= details[0].Address %></textarea>
            <textarea type="text" name="healthbio" id="healthbio" placeholder="Health Bio" style="background: #eee;border: none;padding: 12px 15px;margin: 8px 0;width: 100%;height:150px;" required><%= details[0].HealthBio %></textarea>
            </br>
            <button>Save changes</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>Editing your profile helps us know you better.</p>
                <button class="ghost" id="signIn">Edit Profile</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello!</h1>
                <p>Looks like you think your account is compromised. Change the password here?</p>
                <button class="ghost" id="signUp">Change Password</button>
            </div>
        </div>
    </div>
</div>
<div class="quote" id="quote">
	<h1>"Nothing is impossible, the word itself says I'm possible!"</h1>
	<p class="author" id="author" style="text-align:right">-Audrey Hepburn</p>
</div>
<script src="/js/ChangeSignIn.js"></script>
<script src="/js/goback.js"></script>