<link rel="stylesheet" type="text/css" href="/css/Profile.css">
<style>
   button:hover{
 		background-color:#fff;
 		box-shadow:0px 2px 10px 5px #97B1BF;
 		color:#000;
	}
</style>
<body style="background: linear-gradient(to top, #ff96ed, #b4dcee) no-repeat 0 0 / cover;">
   <form action="http://127.0.0.1:8081/Leaveshome" method="post">
      <div>
         <div class="img" id="img">
            <button style="border-radius: 15px; position:absolute; height:50px;width:70px;background-color: #f44336;color: white; left:0px;top:0px; border-radius: 0px 0px 10px 0px;" class="previous round">Home</button>
         </div>
         </div>
      </form>
   <form action="http://127.0.0.1:8081/profileChange" method="post">
   <button style="position:absolute; height:50px;width:70px; font-weight: bold; border-color:crimson;background-color: #f44336; color: white;right:40px;top:10px;border-radius: 15px;" >Edit</button>
   </form>
   <div class="pCard_card">
      <% if(profile[0].Photo.length===""){ %>
         <div class="pCard_up" style="background-image: url(/images/users.jpg);">
            <% } else{ %>
      <div class="pCard_up" style="background-image: url(<%=profile[0].Photo%>);">
         <% } %>
         <div class="pCard_text" name="pCard_text" id="pCard_text">
            <h2 style="color:white;"><%=profile[0].FirstName%></h2>
            <p style="color:white"><%=profile[0].UserName%></p>
         </div>
         <button class="collapsible" name="collapsible" id="collapsible"><i class="fa fa-plus"></i></button>
         <div class="content">
            <table>
               <tr style="line-height: 3;">
                  <td align="left"><label>Username:</label></td>
                  <td><p><%=profile[0].UserName%></p></td>
               </tr>
               <tr style="line-height: 3;">
                  <td align="left" style="white-space: nowrap ;"><label>First Name:</label></td>
                  <td><p><%=profile[0].FirstName%></p></td>
               </tr>
               <tr style="line-height: 3;">
                  <td align="left"><label>Last Name:</label></td>
                  <td><p><%=profile[0].LastName%></p></td>
               </tr>
               <tr style="line-height: 3;">
                  <td align="left" style="white-space: nowrap ;"><label>Phone number:</label></td>
                  <td><p><%=profile[0].Phone%></p></td>
               </tr>
               <tr style="line-height: 3;">
                  <td align="left"><label>Address:</label></td>
                  <td><p style="line-height: 1;"><%=profile[0].Address%></p></td>
               </tr>
               <tr style="line-height: 3;">
                  <td align="left"><label>Health Bio:</label></td>
                  <td><p><%=profile[0].HealthBio%></p></td>
               </tr>
            </table>
         </div>
      </div>
      <div class="pCard_down">
         <% if(Check==2){ %>
            <div>
               <p></p>
               <p></p>
            </div>
         <% } %>
         <div>
            <p>Department</p>
            <p><%=profile[0].Department%></p>
         </div>
         <%if(Check==0){%>
         <div>
            <p>Section</p>
            <p><%=profile[0].Section%></p>
         </div>
         <div>
            <p>Advisor</p>
            <p style="white-space: nowrap ;"><%=profile[0].Adviser%></p>
         </div>
         <%} else if(Check==1){%>
            <div>
               <p></p>
               <p></p>
            </div>
            <div>
               <p>Cader</p>
               <p><%=profile[0].Cader%></p>
            </div>
            <%}%>
      </div>
      <div class="pCard_back">   
      </div>
   </div>
</body>
<script src="/js/Profile.js"></script>
<script src="/js/goback.js"></script>